<form (ngSubmit)="salvar()" #form="ngForm">
    <h3 class="text-primary" style="text-align: center; vertical-align: middle;">{{titulo}}</h3>

    <div class="form-group align-form">

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="codigo" class="col-form-label">Código:</label>
                <input id="codigo" type="input" class="form-control form-control-sm" name="codigo" size="10" maxlength="8"
                    [(ngModel)]="usuario.codigo" readonly />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="nome" class="col-form-label">Nome:</label>
                <input id="nome" type="input" required #name="ngModel" required class="form-control form-control-sm"
                    name="nome" size="60" maxlength="60" [(ngModel)]="usuario.nome" [ngClass]="{'is-invalid': !name.valid && (name.dirty || name.touched), 'is-valid': name.valid}" />
                <span class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                    <ul>
                        <li *ngIf="name.errors.required">O campo nome é requerido</li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="login" class="col-form-label">Login:</label>
                <input id="login" type="input" required #login="ngModel" class="form-control form-control-sm" name="login"
                    size="15" maxlength="12" [(ngModel)]="usuario.login" [ngClass]="{'is-invalid': !login.valid && (login.dirty || login.touched), 'is-valid': login.valid}" />
                <span class="invalid-feedback" *ngIf="login.errors && (login.dirty || login.touched)">
                    <ul>
                        <li *ngIf="login.errors.required">O campo login é requerido</li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="email" class="col-form-label">Email:</label>
                <input id="email" type="text" email required #email="ngModel" class="form-control form-control-sm" name="email"
                    size="60" maxlength="60" [(ngModel)]="usuario.email" [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched), 'is-valid': email.valid}" />
                <span class="invalid-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
                    <ul>
                        <li *ngIf="email.errors.required">O campo email é requerido</li>
                        <li *ngIf="email.errors.email">O email é inválido</li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="senha" class="col-form-label">Senha:</label>
                <input id="senha" type="password" class="form-control form-control-sm" name="senha" size="45" maxlength="45"
                    [(ngModel)]="usuario.senha" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="tempoSenha" class="col-form-label">Tempo para Expirar Senha:</label>
                <input id="tempoSenha" type="input" class="form-control form-control-sm" name="tempoExpiracaoSenha"
                    size="10" maxlength="4" [(ngModel)]="usuario.tempoExpiracaoSenha" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label for="codgAutorizacao" class="col-form-label">Código Autorização:</label>
                <input id="codgAutorizacao" type="input" class="form-control form-control-sm" name="codgAutorizacao"
                    size="5" maxlength="1" [(ngModel)]="usuario.codgAutorizacao" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label class="col-form-label">Registro Ativo:</label>
                <div class="orm-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ativo" id="rdAtivo" [(ngModel)]="usuario.situacaoUsuario"
                        [value]="true">
                    <label class="form-check-label" for="rdAtivo">Sim</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="ativo" id="rdInativo" [(ngModel)]="usuario.situacaoUsuario"
                        [value]="false">
                    <label class="form-check-label" for="rdInativo">Não</label>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <label class="col-form-label">Código Pessoa:</label>
                <input type="number" class="form-control form-control-sm" name="codgPessoa" size="5" maxlength="1"
                    [(ngModel)]="usuario.codgPessoa" />
            </div>
        </div>

        <div class="form-group row" *ngIf="usuario.codigo != null">
            <div class="col-sm-6">
                <label for="perfil" class="col-form-label">Perfil: </label>
                <select id="perfil" [compareWith]="compareById" multiple class="form-control form-control-sm" name="perfis"
                    [(ngModel)]="usuario.listaPerfil">
                    <option *ngFor="let perfil of perfis; let i = index;" [value]="perfil">
                        {{perfil.nome}}
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row" *ngIf="usuario.codigo != null">
            <div class="col-sm-6">
                <label for="aparelho" class="col-form-label">Aparelho: </label>
                <select id="aparelho" [compareWith]="compareById" multiple class="form-control form-control-sm" name="aparelhos"
                    [(ngModel)]='usuario.listaAparelhos'>
                    <option *ngFor="let aparelho of aparelhos" [value]="aparelho">
                        {{aparelho.descricao}}
                    </option>
                </select>
            </div>
        </div>
    </div>

        <br />
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Salvar</button>
        <button class="btn btn-primary" [routerLink]="['/consulta-usuario']" type="button">Cancelar</button>
    </div>
</form>